@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  margin: 0;
}

.play {
  width: 100%;
  position: absolute;
}

.txt {
  font-family: "Audiowide", sans-serif;
  position: relative;
  font-size: 40px;
  padding: 40px 400px 0 800px;
  color: rgba(110, 120, 120, 0.6);
  text-align: center;
}
h2 {
  margin-bottom: 30px;
}

a {
  color: rgba(110, 120, 120, 0.6);
}

.fa-github-square:hover {
  color: black;
}

.fa-linkedin:hover {
  color: #105fa2;
}
